body {
    font-family: 'oswald', cursive;
    font-size: 16px;
    background-color: #00ffff;
}


header {
    display: grid;
    grid: 2fr 1fr / 1fr 2fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: .6em;
    font-family: 'oswald', cursive;
    background-color: #795548;
    color: white;
    padding: .2em;
    margin-bottom: .5rem;
    grid-column-gap: .8rem;
}

.logo {width: 10px;}

h1 {
    padding-left: 5px;
    justify-self: start;
}

button {
    background-color: #011640;
    color: white;
    border: none;
    font-size: 2em;
}

button:hover {cursor: pointer;}

.extra {display: none;}

.date {
    grid-row: 2/3;
    grid-column: 1/5;
    align-self: center;
}

nav {
	margin: 0 auto;
	max-width: 760px;
}
.navigation {
	list-style: none;
	padding: 0;
    margin: 0;
    padding: .5rem;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0;
    font-size: 1em;
    top: 15%;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem 2vw;
	text-decoration: none;
	color: white;
	transition: 0.2s;
    font-size: 2rem;
}

.navigation a:hover {
    background-color: #336611;
}

.hidden {
    display: none;
}

.toggle-btn {
    padding: 1em;
}

.responsive li {
	display: block;
}

.responsive ul {
    position: relative;
    left: 200px;
    width: 100%;
}

.responsive a {
    background-color: #336611;
}

main {
    display: grid;
    grid: repeat(5, 1fr)/ 1fr;
    grid-row-gap: 10px;
    padding: 1em;
    margin: auto 1rem;
    font-size: .7em;
}

.spotlight p {
    border: 1px dotted #355B8C;

}

#spotlight3 {
    display: none;
}

.join {
    display: none;
}

.logo {
    width: 75px;
}
.logoimg{
    width: 100%;
    height:auto;
}
.picc img{
    width: 20%;
    height: auto;
}

.icon {
    width: 40px;
}

.social a img {
    padding: .3em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #355B8C;
    color: white;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #336611;
    color: white;
}

.wdd-info {
    padding: .5rem;
}

.spotlight img{
    height: 200px;
    width: 350px;
}
 .hero img {
    height: 500px;
    width: 500px;
 }
 .adventures{
    margin: 1em 1em;
    padding: 1em;
    text-align: center;
    grid-row: 1;
    grid-column: 1;
    color: black;
    background-color: greenyellow;
    width: 400px;
    position: relative;
    top: -105px;
    right: -30px;
    
  }
  #adventure{
    background-color: white;
    border: black;
  }
  
  .adventures b{
    line-height: 2em;
    width: 10em;
    background-color: white;
    color: black;
    font-size: 1.2em;
  }
  :hover button{
      color: whitesmoke;
  }
  h2,h3,h4,h5,h6,h7{
      background-color: #336611;
      color: white;
      font-size: 2em;
      font-family: 'Righteous', cursive;
      text-align: center;
  }
  p{
      font-family: 'oswald',cursive;
      font-size: 1.5em;
  }

  main section h3 {
    font-weight: bold;
    font-size: 30px;
    padding: 8px;
    margin: 5px;
  }

  main section h2 {
    font-weight: bold;
    font-size: 40px;
    padding: 8px;
    margin: auto;
  }
  h4{
      margin: 10px;
    
  }


.discover-main {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-columns: minmax(min-content, max-content);
    max-width: 400px;
}

.discover-main h2 {
    color: #355B8C;
    font-size:xx-large;
    padding-left: 1em;
    margin-bottom: auto;
}

.deck {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.card {
    display: grid;
    justify-items: center;
    padding: 1em;
    margin: 1em auto;
    background-color: #BF6F7E40;
    /* z-index: -2; */
}

.card p {
    margin-top: auto;
    padding: 0 1em;
}

.discover img[data-src] {
    filter: blur(0.2em);
  }
.discover img {
    filter: blur(0em);
    transition: filter 0.1s;
    /* z-index: -1; */
  }

.discover-main > p {
    font-style: italic;
    color: #011640;
}
 fieldset{
     background-color: white;
 }

 .thankyou-main {
    grid-template-columns: 1fr;
    font-size: xx-large;
    padding: 1rem;
    justify-items: center;
}

.thankyou-main h2 {
    margin: 1rem;
}

.thankyou-main p {
    border: #BF6F7E40 dotted 3px;
    padding: 1rem;
    margin-top: .5rem;
    font-size: medium;
}

.thankyou-main img {
    max-width: 400px;
    float: right;
    max-height: 400px;
}
