body, img{
    max-width: 252px;
    max-height: 352px;
    margin:0 auto;
    align-content: center;
    text-align: center;
    display:flex;
    flex-direction: column;
    padding: 1.5rem;
}

img{
  width: 300px;
  height: 400px;
}

h1 {
    font-size: 4rem;
}

article img[data-src] {
    filter: blur(0.2em);
  }
  
  article img {
    filter: blur(0em);
    transition: filter 0.5s;
  }

  img {
  
    border: red;
    width: 300px;
    height: 400px
  }

  [data-src] {
    min-width: 100px;
    min-height: 100px;
  }